<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>CC Admin</title>

    <link rel="stylesheet" href="styles/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <!--sidebar, flexible-->
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="admin">
                            <i class="fas fa-home"></i>Dashboard<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#add-user">
                            <i class="fas fa-plus-square"></i>Add New Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#user-data-table">
                            <i class="fas fa-user-cog"></i>Admins/Buyers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href=""> <!--TODO add link to requests page-->
                            <i class="fas fa-stamp"></i>Account Requests
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""> <!--TODO Add link to create item page-->
                            <i class="fas fa-pen-nib"></i>New Item
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""> <!--TODO add link to inv mng page-->
                            <i class="fas fa-book"></i>Inventory Management
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--body render-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" layout:fragment="main"></main>
    </div>
</div>


<!--CDN's-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
</body>
</html>