<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
<div layout:fragment="main">
    <!--add user form-->
    <h2 id="add-user">Create Account</h2>
    <!--Error box-->
    <div class="d-flex text-center" th:if="${!errors.isEmpty()}">
        <p class="alert alert-danger" th:each="error : ${errors}" th:text="${error.message}">
            Error message
        </p>
    </div>
    <!--Admin version, acct's will be enabled by default in addUserAsAdmin()-->
    <div class="d-flex" id="add-user-form">
        <form action="addUserAsAdmin" class="form-horizontal" method="post" enctype="multipart/form-data">
            <input type="hidden" class="form-control" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}">

            <div class="form-group row">
                <label for="username" class="col-lg-3 col-sm-12 col-form-label">Username:</label>
                <div class="col-lg-9 col-sm-12">
                    <input type="text" class="form-control" id="username" name="username" required autofocus>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-lg-3 col-sm-12 col-form-label">Password:</label>
                <div class="col-lg-9 col-sm-12">
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-lg-3 col-sm-12 col-form-label">Full Name:</label>
                <div class="col-lg-9 col-sm-12">
                    <input type="text" class="form-control" id="name" name="name">
                </div>
            </div>

            <div class="form-group row">
                <label for="address" class="col-lg-3 col-sm-12 col-form-label">Shipping Address:</label>
                <div class="col-lg-9 col-sm-12">
                    <input type="text" class="form-control" id="address" name="address">
                </div>
            </div>

            <div class="form-group row">
                <label for="phone" class="col-lg-3 col-sm-12 col-form-label">Telephone:</label>
                <div class="col-lg-9 col-sm-12">
                    <input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="phone"
                           name="phone">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-lg-3 col-sm-12 col-form-label">E-mail:</label>
                <div class="col-lg-9 col-sm-12">
                    <input type="text" class="form-control" id="email" name="email">
                </div>
            </div>

            <div class="form-group row">
                <label for="role" class="col-lg-3 col-sm-12 col-form-label">Role:</label>
                <div class="col-lg-9 col-sm-12">
                    <select name="roleId" id="role" class="form-control">
                        <option th:each="role: ${roles}" th:value="${role.roleId}" th:text="${role.role}">
                            role
                        </option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-outline-dark">Add Account</button>
        </form>
    </div>

    <hr/>

    <!--User Table-->
    <h2>Admins/Buyers</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="user-data-table">
            <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Phone</th>
                <th>E-mail</th>
                <th>Address</th>
                <th>Role</th>
                <th>Enabled?</th>
                <th></th> <!--Edit-->
                <th></th> <!--Delete-->
            </tr>
            </thead>

            <tbody>
            <div th:each="user : ${users}">
                <tr>
                    <td th:text="${user.username}">username</td>
                    <td th:text="${user.name}">name</td>
                    <td th:text="${user.phone}">phone</td>
                    <td th:text="${user.email}">email</td>
                    <td th:text="${user.address}">address</td>
                    <td>
                        <div th:each="currentRole : ${user.roles}">
                            <span th:text="${currentRole.role}"></span>
                        </div>
                    </td>
                    <td th:if="${user.enabled}"><i class="fas fa-user-check"></i></td>
                    <td th:unless="${user.enabled}"><i class="fas fa-user-times"></i></td>
                    <td>
                        <a href="#" th:href="@{/editUser(id=${user.userId})}">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" th:href="@{/deleteUser(id=${user.userId})}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>