<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout.html}">
<head>
    <title>Home</title>

    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
<div layout:fragment="main">
    <div class="jumbotron">
        <h1 class="display-4">Chemical Company</h1>
        <p class="lead">Mock Lab Supply Company Website</p>
        <hr class="my-4">
        <p>Java & Spring Boot Fullstack App</p>
    </div>
</div>
</body>
</html>