<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
<div layout:fragment="main" id="loginForm">
    <form class="form-signin" role="form" method="post" action="login">
        <h3 th:if="${#request.getParameter('login_error') == '1'}">Invalid login</h3>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>

        <label for="userPassword" class="sr-only">Password</label>
        <input type="password" id="userPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> <!--CSRF attack guard-->

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">Chemical Company</p>
    </form>
</div>
</body>
</html>