<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{page_layout/layout.html}">
<head>
    <title th:title="'View Product - ' + ${product.name}"></title>

    <link rel="stylesheet" href="styles/products.css">
</head>
<body>
<div layout:fragment="main">
    <h2 th:text="${product.name}"></h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" th:if="${product.photoFilename != ''}">
                <img th:src="${product.photoFilename}" alt="product image" style="max-width: 200px">
            </div>
            <div class="col-sm-9">
                <p th:text="${product.name}"></p>
                <p th:text="${product.chemicalName}"></p>
                <p th:text="'Category - ' + ${product.getCategory().getCategoryName()}"></p>
                <p th:text="${'Unit Cost - $' + product.unitCost}"></p>
                <p th:text="${product.massVolume + ' ' + product.measurement}"></p>
                <p th:text="${'Handling Cost - $' + product.handlingCost}"></p>
            </div>

            <!--TODO form POST - quantity textbox, integers only + buy/order button-->
        </div>
    </div>
</div>
</body>
</html>