/*
CSS for all templates in page_layout dir
 */
.container {
    width: auto;
    padding: 0 15px;
}

.footer {
    text-align: center;
}

#footerRibbon {
    width: 100%;
    background-color: black;
}